<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCqGJnYx-Josaf8h3UJO60nDD6R88AWvLg</string>
	<key>GCM_SENDER_ID</key>
	<string>1000888321888</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.frontendsrc</string>
	<key>PROJECT_ID</key>
	<string>femnet-3e68f</string>
	<key>STORAGE_BUCKET</key>
	<string>femnet-3e68f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1000888321888:ios:038c126aa95c83f2b50005</string>
</dict>
</plist>