<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>672278888512-b83vioe2ig5k4h9ljssiu8aot2kcidap.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.672278888512-b83vioe2ig5k4h9ljssiu8aot2kcidap</string>
	<key>API_KEY</key>
	<string>AIzaSyC96_LPKAdoPHj59hmre1nYQiPhI7Oil1Y</string>
	<key>GCM_SENDER_ID</key>
	<string>672278888512</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.frontend</string>
	<key>PROJECT_ID</key>
	<string>femcycle-c9ef5</string>
	<key>STORAGE_BUCKET</key>
	<string>femcycle-c9ef5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:672278888512:ios:cf7588bf58fe75660c5fa5</string>
</dict>
</plist>